<h1>New Game</h1>

<div class="container">
  <div class="cards">
    <% @letters.each do |letter| %>
      <div class="card"> <%= letter %> </div>
    <% end %>
  </div>
  <h3>Whats the longest word you can find</h3>
  <form action="/score" method="post">
    <input type="hidden" name="start_time" value="<%= Time.now %>">
    <input type="hidden" name="grid" value="<%= @letters.join %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input class="my_form" type="text" name="word" placeholder="Type your answer">
    <input class="my_button" type="submit" value= "Play">
  </form>
</div>
